body{
    background-color: rgb(53, 53, 53);
}

output {
    /* background-color: rgb(255, 0, 0); */
    background-color: #99FFFF;
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}

button{
    background-color: #000000;
    color: #ffffff;
    padding: 4px;
    border-radius: 100px;
    border: none;
    margin: 7px;
}