*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.esconder_elemento{
    display: none !important;

}

body{
    background-color: brown;
    align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #b35e3c;
}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link and background color on hover */
li a:hover {
  background-color: #555555;
  color: white;
}

button{
    background-color: rgb(146, 93, 93);
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}

button:hover{
    filter: brightness(0.6);
    scale: 1.07;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#botoes_tela{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
    gap: 30px;

}

.layout{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

#p-resposta{
    text-align: center;
    margin-top: 50px;
}
