*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.esconder_elemento{
    display: none !important;

}

body {
    background-color: brown;
    align-items: center;
    transition: padding-left 0.4s ease-in-out;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #b35e3c;

    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    z-index: 1000;

    
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;
}

ul.menu_aberto {
    transform: translateX(0);
}

body.menu_lateral_ativo {
    padding-left: 200px; 
}

body.menu_lateral_ativo #botao_lateral_nav {
    left: 215px; 
}

#botao_lateral_nav {
    position: fixed;
    top: 35px;
    left: 7px;
    z-index: 1001;
    transition: left 0.4s ease-in-out;
}

#foto_icone_nav{
    width: 40px;

}

#conteiner_botoes_nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    gap: 5px;
}

.botoes_nav {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

.botoes_nav:hover {
  background-color: #555555;
  color: white;
}

button{
    background-color: rgb(146, 93, 93);
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}

button:hover{
    filter: brightness(0.6);
    scale: 1.07;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#botoes_tela{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
    gap: 30px;

}

.layout{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 350px;
}

.layout, #p-resposta, #botoes_tela{
    margin-right: 40px;
}

#p-resposta{
    text-align: center;
    margin-top: 50px;
}
