*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.esconder_elemento{
    display: none !important;

}

body{
    background-color: brown;
    align-items: center;
}

button{
    background-color: rgb(146, 93, 93);
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}

button:hover{
    filter: brightness(0.6);
    scale: 1.07;
}

#tela_roque{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#botoes_tela{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 150px;
    gap: 30px;

}

#layout1{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}
