/* =========================
   RESET
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.esconder_elemento {
    display: none;
}

/* =========================
   VARIÁVEIS
========================= */

:root {
    /* Fundo */
    --bg-main: #0A0612;
    --bg-card: #160F26;

    /* Texto */
    --text-primary: #F3E8FF;
    --text-secondary: #A78BFA;

    /* Bordas */
    --border-color: #2E1D4A;

    /* Cor principal */
    --primary: #9333EA;

    /* Botões */
    --btn-create: #22C55E;
    --btn-search: #0EA5E9;
    --btn-edit: #F59E0B;
    --btn-delete: #DC2626;
    --btn-all: #546d8f;
    --btn-hunt: #892edf;
    --btn-save: #545dda;
    --btn-load: #ce4ba6;
}

/* =========================
   BODY
========================= */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--bg-main);
    padding-bottom: 180px;
}

/* =========================
   LAYOUT GERAL
========================= */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* =========================
   HEADER
========================= */

header {
    display: flex;

    width: 100%;
    padding: 15px;

    background-color: var(--bg-card);
    color: var(--text-primary);

    font-family: "Creepster", serif;
    font-size: 23px;
}

/* =========================
   TELA INICIAL
========================= */

#section_inicial {
    position: fixed;
    top: 40px;

    opacity: 1;
    pointer-events: none;

    transition: opacity .5s ease;

}

#section_inicial.esconder_logo {
    opacity: 0;
}

#section_inicial h2 {
    color: var(--text-primary);
    font-family: "Cinzel", serif;
}

#foto-logo {
    width: 80%;
}

/* =========================
   FORMULÁRIO
========================= */

#section_form {
    margin-top: 100px;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 20px;

    margin-top: 30px;
    padding: 30px;

    border-radius: 20px;
    background-color: var(--bg-card);
    box-shadow: 0 0 14px #a268ff;

    color: var(--text-secondary);
}

.container_inputs {
    display: flex;
    flex-direction: column;
}

.container_inputs label {
    display: inline-block;
    width: 190px;

    color: var(--text-secondary);
}

.container_inputs input,
.container_inputs select {
    padding: 6px;

    border: none;
    border-radius: 20px;

    background-color: var(--bg-main);
    color: var(--text-primary);
}

/* =========================
   BOTÕES
========================= */

#container_button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    margin-top: 50px;
}

#container_button button {
    padding: 6px;

    border: none;
    border-radius: 8px;

    transition: .2s;
    cursor: pointer;
}

#container_button button:hover {
    filter: brightness(.7);
    transform: scale(1.04);
}

#botao_adicionar {
    background-color: var(--btn-create);
}

#botao_mostrar {
    background-color: var(--btn-all);
}

#botao_buscar {
    background-color: var(--btn-search);
}

#botao_editar{
    background-color: var(--btn-edit);
}

#botao_cacar{
    background-color: var(--btn-hunt);
}

#botao_remover {
    background-color: var(--btn-delete);
}

#botao_salvar{
    background-color: var(--btn-save);
}

#botao_carregar{
    background-color: var(--btn-load);
}

/* =========================
   CARDS
========================= */

#div_cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    gap: 45px;
    margin-top: 80px;

    color: var(--text-primary);
}

#div_cards h2{
    font-family: "Cinzel", serif;
}

.layout_itens {
    width: 320px;
    min-height: 170px;
    padding: 20px;

    background-color: var(--bg-card);
    border-radius: 20px;
    box-shadow: 0 0 14px #a268ff;

    font-size: 20px;
}

.layout_itens h2 {
    font-family: "Cinzel", serif;
    word-break: break-word;
}

#mensagem{
    position: absolute;
    top: 880px;

    margin-top: 60px;

    color: var(--text-primary);
    font-family: "Cinzel" serif;
}